﻿@page "/modal"

@*<h3 class="card-title">@Title</h3>*@
@*<p class="card-text">@ChildContent</p>*@
<p class="card-text">@Message</p>
<div class="card-header-pills d-flex justify-content-lg-start">
    <button class="btn btn-warning uk-margin-small-left" @onclick="(async () => await OnConfirmAsync())">Yes</button>
    <button class="btn btn-outline-warning uk-margin-small-left" @onclick="(async () => await ModalInstance.CancelAsync())">No</button>
</div>



@code {
    [CascadingParameter]
    AuthenticationStateProvider AuthStateProvider { get; set; }

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public AdminAction AdminAction { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Message { get; set; }

    private async Task OnConfirmAsync()
    {
        await ModalInstance.CloseAsync();
    }
}