﻿@using Microsoft.Identity.Web
@using Microsoft.Extensions.Options
@using Carpooling.Models.Entities
@using Microsoft.AspNetCore.Identity
@inject IOptionsMonitor<MicrosoftIdentityOptions> microsoftIdentityOptions
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserService UserService

<AuthorizeView>
    <Authorized>

        <UserMenu UserName="@userName" AvatarUrl="@avatarUrl" />

    </Authorized>
    <NotAuthorized>

        <div class="uk-flex uk-flex-row">
            <div class="me-4">
                <a class="uk-button uk-button-danger custom-small-button rounded-2" href="MicrosoftIdentity/Account/SignIn"><span>Sign In</span></a>
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>

@code {
    private string userName;
    private string avatarUrl;
    private bool canEditProfile;

    protected override async Task OnInitializedAsync()
    {
        var options = microsoftIdentityOptions.CurrentValue;
        canEditProfile = !string.IsNullOrEmpty(options.EditProfilePolicyId);

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated)
        {
            var claimsPrincipal = authState.User;

            var user = await UserService.GetUserDetailsAsync(claimsPrincipal);

            if (user.IsSuccess)
            {
                this.userName = user.Value.Username;
                this.avatarUrl = user.Value.ProfileImageUrl;
            }
        }
    }
}
