﻿@using Carpooling.Web.ExceptionHandling
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using Blazored.Toast.Configuration

<PageTitle>DriveShare Home</PageTitle>


<style>
    .flex-wrapper {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }

    @@media (min-width: 960px) {
        .custom-navbar {
            justify-content: space-between;
        }

        .uk-navbar-nav {
            margin-right: auto;
        }
    }

    .page-header__inner {
        justify-content: space-between; /* Разделяне на пространството между елементите */
    }
</style>

<div class="flex-wrapper">
    <header class="page-header">
        <div class="page-header__scroll" data-uk-sticky>
            <div class="uk-container uk-container-expand">
                <div class="page-header__inner uk-flex uk-flex-middle uk-flex-between">

                    <div class="page-header__logo">
                        <div class="logo"><a class="logo__link" href="/"><img class="logo__img" src="img/logo.png" alt="DriveShare"></a></div>
                    </div>

                    <div class="page-header__menu uk-flex-1 uk-flex uk-flex-center">
                        <nav class="page-nav" data-uk-navbar>
                            <ul class="uk-navbar-nav">
                                <li><a href="find-ride"> <span uk-icon="search"></span>Find a Ride</a></li>
                                <li><a href="offer-ride"> <img src="img/car.svg" data-uk-svg alt="car">Offer a Ride</a></li>
                                <li><a href="http://forum.unrealbg.com"> <span uk-icon="comments"></span>Our Forum</a></li>
                                <li> <a href="contact-us"> <span uk-icon="receiver"></span>Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="uk-visible@m me-1">
                        <LoginDisplay />
                    </div>


                    <div class="page-header__btn">
                        <a class="uk-button uk-button-danger" href="#offcanvas" data-uk-toggle data-uk-icon="menu"></a>
                    </div>

                </div>
            </div>
        </div>
    </header>




    <div class="page">
        <main>
            <article class="content px-4">
                <CustomErrorBoundary @ref="errorBoundary">
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent Context="exception">
                        <div class="alert alert-danger">
                            <h3 class="text-center"> Something went wrong. </h3>
                            <p class="text-center"> Please refresh the page and try again. </p>
                            <p class="text-center"> If the problem persists, please contact the administrator. With the following error message: @exception.Message</p>
                            <button class="btn btn-info" @onclick="() => errorBoundary.Recover()"> Refresh </button>
                        </div>
                    </ErrorContent>
                </CustomErrorBoundary>
            </article>
        </main>
    </div>
    <footer class="page-footer">
        <div class="uk-container">
            <div class="page-footer__inner">
                <div class="page-footer__logo">
                    <div class="logo"><a class="logo__link" href="/"><img class="logo__img" src="img/logo-white.png" alt="DriveShare"></a></div>
                </div>
                <div class="page-footer__text">
                    @*<p>Eorem ipsum dolor sit amet consectetur adipisicing elit edolore magna<br> aliqua ut enim ad minim veniam quis aliquip consequat</p>*@
                    <div class="page-footer__inner" style="color: #999">
                        <a class="uk-link-muted" href="privacy">Privacy Policy</a> |
                        <a class="uk-link-muted" href="terms">Terms of Service</a> |
                        <a class="uk-link-muted" href="datadeletion">Data Deletion</a>
                    </div>
                </div>
                <div class="page-footer__social">
                    <ul class="social">
                        <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#!"><i class="fas fa-rss"></i></a></li>
                    </ul>
                </div>
                <div class="page-footer__copy"> <span>(c) 2023 All rights reserved.</span></div>
            </div>
        </div>
        <div id="offcanvas" data-uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-flex-between">
                <button class="uk-offcanvas-close" type="button" data-uk-close=""></button>
                <div class="uk-margin">
                    <div class="uk-margin-bottom">
                        <div class="logo"><a class="logo__link" href="/"><img class="logo__img" src="img/logo-white.png" alt="DriveShare"></a></div>
                    </div>
                    <div class="uk-margin">
                        <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
                            <li>
                                <a href="find-ride" class="close-offcanvas"> <img src="img/search.svg" data-uk-svg alt="search">Find a Ride</a>
                            </li>
                            <li> <a href="offer-ride" class="close-offcanvas"> <img src="img/car.svg" data-uk-svg alt="car">Offer a Ride</a></li>
                            <li><a href="#" class="close-offcanvas"> <img src="img/news-paper.svg" data-uk-svg alt="news-paper">Our Forum</a></li>
                            <li>
                                <a href="contact-us" class="close-offcanvas"> <img src="img/help2.svg" data-uk-svg alt="help2">Contact Us </a>
                                <ul class="uk-nav-sub">
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <AuthorizeView>
                    <Authorized>
                        <div class="uk-flex uk-flex-column">
                        </div>
                        <div class="uk-flex uk-flex-column">
                            <a class="btn btn-dark" href="MicrosoftIdentity/Account/SignOut">Sign Out</a>
                            <br />
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="uk-flex uk-flex-column">
                        </div>
                        <div class="uk-flex uk-flex-column">
                            <a class="btn btn-dark" href="MicrosoftIdentity/Account/SignIn"><span>Sign In</span></a>
                            <br />
                            @* <a class="btn btn-dark" href="register"><span>Register</span></a> *@
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
        <div class="uk-flex-top" id="callback" data-uk-modal="">
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" data-uk-close=""></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div><!-- End Additional blocks-->
    </footer>
</div>

<BlazoredToasts Position="ToastPosition.TopCenter"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-exclamation-circle"
                WarningIcon="fa fa-exclamation-triangle" />

@code {
    private CustomErrorBoundary errorBoundary;

    protected override void OnInitialized()
    {
        this.errorBoundary = new CustomErrorBoundary();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("closeOffcanvasOnLinkClick");
        }
    }
}