﻿@inject IJSRuntime JSRuntime

<style>
    #map canvas, #map img, #map video {
        max-width: none;
        height: 100%;
    }
</style>



<div class="map-container smaller-div">
    <div id="map"></div>
</div>



@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await this.JSRuntime.InvokeVoidAsync("loadMap", null);
        }
    }
}
