﻿.main-search-grid > div {
    display: flex;
}

.main-search-section {
    flex-grow: 1;
}

.ride-card {
    background-color: #f0faff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.info-content ul {
    list-style-type: none;
    padding: 0;
}

.info-content li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

    .info-content li img,
    .info-content li i,
    .info-content li span {
        margin-right: 8px;
        width: 20px;
        height: 20px;
    }

.map-container {
    background-color: #f0faff;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.smaller-div {
    width: 750px;
    height: 750px;
    max-width: 1000px;
    max-height: 1000px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}
