﻿
<div class="d-flex justify-content-center mb-4">
    <div class="card col-md-3" style="background: rgba(255, 255, 255, 0.6);">
        <div class="card-body">
            <EditForm Model="@profileModel" OnValidSubmit="SubmitAsync">
                @*<FluentValidationValidator />*@
                <DataAnnotationsValidator />
                @if (!string.IsNullOrEmpty(imageSrc))
                {
                    <div class="mb-0">
                        <div class="d-flex justify-content-center align-content-center">
                            <img class="rounded-circle" id="preview" width="100" height="100" src="@imageSrc" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="mb-0">
                        <div class="d-flex justify-content-center align-content-center">
                            <img class="rounded-circle" id="preview" width="100" height="100" src="img/avatar-1.png" style="cursor: pointer;" />
                        </div>
                    </div>
                    @*  <div class="mb-3">
                <label class="uk-button uk-button-danger" for="avatar" class="">Choose photo</label>
                </div> *@
                }
                <div class="mb-3 mt-0">
                    <div class="d-flex justify-content-center align-content-center">
                        <label for="avatar" style="cursor: pointer; color: #f89d53;" class="uk-text-bold">Choose photo</label>
                        <InputFile class="form-control mr-3" OnChange="@LoadImage" id="avatar" accept="image/*" hidden />
                        <div>
                            <ValidationMessage For="@(() => profileModel.ProfileImageUrl)" />
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <InputText type="text" class="form-control" @bind-Value="profileModel.FirstName" id="firstname" placeholder="Firstname" />
                    <ValidationMessage For="@(() => profileModel.FirstName)" class="text-danger" />
                </div>
                <div class="mb-3">
                    <InputText type="text" class="form-control" @bind-Value="profileModel.LastName" id="lastname" placeholder="Lastname" />
                    <ValidationMessage For="@(() => profileModel.LastName)" class="text-danger" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" readonly="readonly" value="@profileModel.Email" />
                </div>
                <div class="mb-3">
                    <InputText type="text" class="form-control" @bind-Value="profileModel.Username" id="username" />
                    <ValidationMessage For="@(() => profileModel.Username)" class="text-danger" />
                </div>
                <div class="mb-3">
                    <InputText type="tel" class="form-control" @bind-Value="profileModel.PhoneNumber" id="phonenumber" placeholder="Phone number" />
                    <ValidationMessage For="@(() => profileModel.PhoneNumber)" class="text-danger" />
                </div>
                <div class="text-end">
                    <button type="submit" class="uk-button uk-button-danger rounded-2">@ButtonText</button>
                </div>
            </EditForm>
        </div>
        <div class="alert-danger text-center">@this.errorMessage</div>
    </div>
</div>
