﻿@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<!-- Loader-->
<div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
<!-- Loader end-->
@code {
    [Parameter]
    public string? Path { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Path is not null)
        {
            NavigationManager.NavigateTo($"{Path}", forceLoad: true, replace: true);
        }
    }
}