﻿@inject NavigationManager NavigationManager

<div class="header-sign">
    <div class="dropdown" id="toggleDropdown">
        <img src="@AvatarUrl" style="width: 3vw; height: auto; border-radius: 50%; cursor: pointer;" alt="User Avatar" class="avatar" @onclick="ToggleMenu" />
        @if (IsMenuOpen)
        {
            <div class="dropdown-menu-sm-start bg-light rounded-2 shadow-lg" style="z-index: 2; position: absolute; right: 0; margin-top: 1rem;" @onmouseover="Show" @onmouseout="Hide" @onblur="Hide">
                <ul class="dropdown-list">
                    <div class="dropdown-header fs-6">
                        <span>@UserName</span>
                    </div>
                    <div class="dropdown-divider"></div>
                    <li class="dropdown-item">
                        <a class="dropdown-link" href="my-rides">
                            <span class="dropdown-item-text">My Rides</span>
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="dropdown-item">
                        <a class="dropdown-link" href="edit-profile">
                            <span class="dropdown-item-text">Edit Profile</span>
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <AuthorizeView Roles="Administrator">
                        <li class="dropdown-item">
                            <a class="dropdown-link" href="admin-panel">
                                <span class="dropdown-item-text">Admin Panel</span>
                            </a>
                        </li>
                        <div class="dropdown-divider"></div>
                    </AuthorizeView>
                    <li class="dropdown-item">
                        <a class="dropdown-link" href="MicrosoftIdentity/Account/SignOut">
                            <span class="dropdown-item-text">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public string AvatarUrl { get; set; }



    private bool IsMenuOpen = false;

    private void ToggleMenu()
    {
        IsMenuOpen = !IsMenuOpen;
    }

    private void Show()
    {
        IsMenuOpen = true;
    }

    private void Hide()
    {
        IsMenuOpen = false;
    }

    protected override async Task OnParametersSetAsync()
    {
        UserName ??= "User";
        AvatarUrl ??= "img/avatar-1.png";
    }

    private async Task LogOutAsync()
    {
        this.NavigationManager.NavigateTo("MicrosoftIdentity/Account/SignOut", forceLoad: true);
    }
}
