﻿@using Carpooling.Services.Contracts;
@using System.Security.Claims;
@using Microsoft.Identity.Web;
@inject NavigationManager navigationManager
@inject IUserService userService

<h3>ValidateProfile</h3>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(true);
    }

    // Get the authetication state
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var claimsUser = authState.User as ClaimsPrincipal;
        if (claimsUser.Identity.IsAuthenticated)
        {
            var azureUserId = Guid.Parse(claimsUser.GetNameIdentifierId());

            var user = await userService.GetUserByAzureUserIdAsync(azureUserId);

            // If the user doesn't have a profile, redirect to the register page
            var registerUri = navigationManager.ToAbsoluteUri("/Register").ToString();
            if (user.Value is null && navigationManager.Uri != registerUri)
            {
                var res = navigationManager.Uri;
                navigationManager.NavigateTo($"/Register", forceLoad: true, replace: true);
            }
            
        }
    }
}
