﻿<CascadingAuthenticationState>
    <CascadingBlazoredModal>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (context.User.Identity?.IsAuthenticated != true)
                        {
                            <RedirectToPage Path="/MicrosoftIdentity/Account/SignIn?" />
                        }
                        else
                        {
                            var user = context.User as ClaimsPrincipal;

                            // Having at least one "Role" claim implies that the user already has a profile created.
                            // Injecting the IUserService here breaks routing.
                            if (user.HasClaim(c => c.Type == ClaimTypes.Role))
                            {
                                <div style="text-align:center;">
                                    <img src="img/notauth.png" alt="Not found" style="width: 1166px; height: 428px;" />
                                    <a class="uk-button uk-button-danger" href="/" style="margin: 20px;"><span>Go to Homepage</span></a>
                                </div>
                            }

                            <RedirectToPage Path="register" />
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <div style="text-align:center;">
                        <img src="img/404.png" alt="Not found" style="width: 600px; height: 600px;" />
                        <h1 style="color: black; font-size: 2em; margin-top: 20px;">Oops!</h1>
                        <p style="color: black; font-size: 1.2em;">Sorry, there's nothing at this address.</p>
                        <a class="uk-button uk-button-danger" href="/" style="margin: 20px;"><span>Go to Homepage</span></a>
                    </div>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingBlazoredModal>
</CascadingAuthenticationState>