﻿@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace Carpooling.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IConfiguration Config

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="Telerik A47 Team 5" name="author">
    <meta content="DriveShare" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    @*<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />*@
    <link href="css/site.css" rel="stylesheet" />
    <link href="Carpooling.Web.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="css/uikit.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/datepicker.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <!-- Loader-->
    <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
    <!-- Loader end-->

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/datepicker.min.js"></script>
    <script src="js/i18n/datepicker.en.js"></script>
    <script src="js/main.js"></script>
    <script src="/api/proxy"></script>
    <script src="js/bingMap.js"></script>
    <script src="js/loadImage.js"></script>
    <script src="js/show-modal.js"></script>
    <script src="js/close-modal.js"></script>
    <script src="js/testRoutePins.js"></script>
    <script src="js/site.js"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script src="_framework/blazor.server.js"></script>
    @*<script src="_content/Blazored.Modal/blazored-modal.js"></script>*@
</body>
</html>
