﻿@page "/admin-panel"

@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Admin Panel</PageTitle>

<div class="text-center">
    <h1>Admin Panel</h1>
</div>


<div class="d-flex flex-column align-items-center uk-padding-large">
    <div class="search-form" style="width: 100%">
        <div class="uk-grid uk-child-width-1-1@s uk-grid-collapse" data-uk-grid>
            <div>
                <div class="uk-inline uk-width-1-1">
                    <button class="uk-button uk-button-default" type="button" @onclick="ExpandSearchMenu">
                        <span class="opacity-50"><b>@searchString</b></span>
                    </button>
                    @if(this.searchMenuExpanded){
                        <div data-uk-drop="mode: click">
                            <div class="uk-card uk-card-body uk-card-default">
                                <ul class="search-list uk-list uk-list-divider" @onkeyup="OnKeyUpHandler">
                                    <li><input class="uk-input" type="text" id="username" name="username" placeholder="UserName" @bind="searchQuery.Username"></li>
                                    <li><input class="uk-input" type="text" id="firstname" name="firstname" placeholder="FirstName" @bind="searchQuery.FirstName"></li>
                                    <li><input class="uk-input" type="text" id="lastname" name="lastname" placeholder="LastName" @bind="searchQuery.LastName"></li>
                                    <li><input class="uk-input" type="text" id="email" name="email" placeholder="Email" @bind="searchQuery.Email"></li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="search-form-btn uk-margin-bottom">
        <a class="uk-button uk-button-danger" type="submit" @onclick="()=>GetSearchResult()">
            <span class="uk-margin-small-right" data-uk-icon="search"> </span>
            <span>SEARCH</span>
        </a>
    </div>
    <Virtualize @ref="@virtualizeUserProfiles" ItemsProvider="LoadModel" Context="profile" ItemSize="400">
        <div class="card shadow-sm d-flex flex-row uk-margin-small" style="width: 100%">
            <div class="card-header d-flex flex-column align-items-center uk-width-1-6">
                <div class="card-img d-flex uk-flex-column-reverse align-items-center">
                    @if(profile.ImgUrl is null)
                    {
                        <img src="img/avatar-1.png" alt="profile image" class="rounded-circle" width="100" />
                    }
                    else
                    {
                        <img src="@profile.ImgUrl" alt="profile image" class="rounded-circle" width="100" />
                    }

                </div>
                <h5 class="card-title">@profile.UserName</h5>
                <div class="card-header-pills uk-grid-margin-small">
                    <button class="btn btn-danger uk-margin-small-left" @onclick="() => ShowConfirmationModal(profile.UserName, AdminAction.Delete)">Delete</button>
                    @if (profile.IsBlocked)
                    {
                        <button class="btn btn-outline-success uk-margin-small-left" @onclick="() => ShowConfirmationModal(profile.UserName, AdminAction.Unblock)">UnBlock</button>
                    }
                    else
                    {
                        <button class="btn btn-warning uk-margin-small-left" @onclick="() => ShowConfirmationModal(profile.UserName, AdminAction.Block)">Block</button>
                    }
                </div>
            </div>
            <div class="card-body d-flex flex-row border-1">
                <div id="user-details" class="uk-flex-1 uk-padding-small">
                    <p><span><b>Name: </b></span><span class="card-title">@profile.Name</span></p>
                    <p><span><b>E-Mail: </b></span><span class="card-title">@profile.Email</span></p>
                    <p><span><b>Phone: </b></span><span class="card-title">@profile.PhoneNumber</span></p>
                </div>
                <div style="border-left: 1px solid #999; margin-left: 20px; padding-left: 10px;" />
                <div id="user-statistics" class="uk-flex-1 uk-padding-small">
                    <p><span><b>Passenger Rating: </b></span><span class="card-title">@profile.PassengerRating</span></p>
                    <p><span><b>Passenger Comments Count: </b></span><span class="card-title">@profile.PassengerCommentsCount</span></p>
                    <p><span><b>Driver Rating: </b></span><span class="card-title">@profile.DriverRating</span></p>
                    <p><span><b>Driver Comment Count: </b></span><span class="card-title">@profile.DriverCommentCount</span></p>
                </div>
            </div>
        </div>
    </Virtualize>
</div>

