﻿@page "/blockeduser"

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Blocked</title>
    <style>
        .block-message {
            font-size: 30px;
            text-align: center;
            margin-top: 5%;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/uikit.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <div class="block-message">
        <h1>Account Blocked</h1>
        <img src="~/img/blocked-user.png" style="height: 50vh"/>
        <p>Sorry, this user has been blocked.</p>
        <p>Please contact customer support at <a href="mailto:support@@driveshare.app">support@@driveshare.app</a> for more information.</p>
        <p> <a class="uk-button uk-button-danger custom-small-button rounded-2" href="MicrosoftIdentity/Account/SignOut"><span>Sign Out</span></a></p>
    </div>
</body>
</html>

