﻿@page "/contact-us"

@{
    var pageTitle = "Contact Us";
}

@* <PageTitle>@pageTitle</PageTitle>
<div class="d-flex justify-content-center">
    <h3>@pageTitle</h3>
</div> *@

<main class="page-main">
    <div class="section-banner">
        <div class="section-banner__bg">
            <div class="uk-cover-container"><img src="img/img-banner-contacts.jpg" alt="img-banner" data-uk-cover><canvas></canvas></div>
        </div>
        <div class="section-banner__content">
            <div class="uk-overlay uk-position-center-left uk-width-1-1">
                <div class="uk-container uk-width-1-1">
                    <div class="section-banner__title">
                        <h1>Contact Us</h1>
                    </div>
                    <div class="section-banner__text decor-bottom">If you have questions, suggestions, or simply want to say hello, don't hesitate to reach out to us.<br> We value every inquiry and aim to respond as swiftly as possible.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-column d-flex align-items-center" style="padding: 5rem;">
        <div class="flex-row d-flex justify-content-between flex-wrap" style="width: 75vw; min-height: fit-content;">
            @foreach (var contact in contacts)
            {
                <div class="card border-1 mb-3" style="max-width: 20rem;">
                    <div class="card-header d-flex flex-column align-items-center">
                        <div class="card-img-top d-flex justify-content-center align-items-center">
                            <img src="@contact.ProfileImageUrl" alt="Profile image" class="rounded-circle" width="180" />
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h5>@contact.Name</h5>
                        </div>
                        <div class="card-text">
                            <p>@contact.Bio</p>
                        </div>
                    </div>
                    <div class="card-footer d-flex flex-column">
                        <div class="card-link">
                            <div><a href="@contact.GitLabUrl"><i class="fab fa-gitlab"></i> @contact.FirstName on GitLab</a></div>
                            @*<div><a href="tel:@contact.PhoneNumber"><i class="fas fa-phone"></i> @contact.PhoneNumber</a></div>*@
                            <div><a href="mailto:@contact.Email"><i class="fas fa-at"></i> @contact.Email</a></div>
                            <div><a href="@contact.LinkedInUrl"><i class="fab fa-linkedin"></i> @contact.FirstName on LinkedIn</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="contacts-info">
        <div class="uk-section uk-container">
            <div class="uk-grid uk-grid-collapse" data-uk-grid>
                <div class="uk-width-3-5@m">
                    <div class="contacts-info-img"><img src="img/img-contacts.jpg" alt="img-contacts"></div>
                </div>
                <div class="uk-width-2-5@m">
                    <div class="contacts-info-box">
                        <h3 class="contacts-info-box__title">Have a question or<br> Need more information?</h3>
                        <p class="contacts-info-box__text">Give us a call and our experienced and<br> friendly staff would be happy to assist you.</p>
                        <ul class="contacts-info-box__list">
                            <li><a href="tel:+359888888888"><img src="img/ico-phone.png" alt="icon"><span>+359 88 123 4567</span></a></li>
                            <li><a href="mailto:support@unrealbg.com"><img src="img/ico-email.png" alt="icon"><span>support@driveshare.app</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-child-width-1-3@m uk-margin-large-top" data-uk-grid>
                <div>
                    <div class="contacts-info-item">
                        <div class="contacts-info-item__title">Corporate Office</div>
                        <div class="contacts-info-item__content">
                            <p>10 Saint Sophia Street, Sofia, Bulgaria<br> 1000 Sofia</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="contacts-info-item">
                        <div class="contacts-info-item__title">Get In Touch</div>
                        <div class="contacts-info-item__content">
                            <ul class="uk-list uk-list-collapse">
                                <li><a class="phone-numb" href="tel:17002310025">+359 88 123 4567 </a></li>
                                <li><a href="mailto:support@unrealbg.com">support@driveshare.app</a></li>
                                <li><a href="mailto:info@unrealbg.com ">info@driveshare.app </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="contacts-info-item">
                        <div class="contacts-info-item__title">Customer Support</div>
                        <div class="contacts-info-item__content">
                            <ul class="uk-list uk-list-collapse">
                                <li><b>Mon to Sat:</b> 09:00am - 08:00pm</li>
                                <li><b>Sunday:</b> 10:00am - 06:00pm</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts-info-map-and-form">
        <div class="uk-grid uk-child-width-1-2@m uk-grid-collapse" data-uk-grid>
            <div>
                <div class="contacts-info-form">
                    <div class="contacts-info-form__title">Send Message</div>
                    <div class="contacts-info-form__text">Have a query? Submit to us here.</div>
                    <form action="#">
                        <!-- Hidden Required Fields -->
                        <input type="hidden" name="project_name" value="getrider">
                        <input type="hidden" name="admin_email" value="admin_email@gmail.com">
                        <input type="hidden" name="form_subject" value="Contacts page">
                        <!-- END Hidden Required Fields -->
                        <div class="uk-grid uk-grid-small uk-child-width-1-2@s" data-uk-grid>
                            <div><input class="uk-input" type="text" name="First_Name" placeholder="First Name"></div>
                            <div><input class="uk-input" type="text" name="Last_Name" placeholder="Last Name"></div>
                            <div><input class="uk-input" type="text" name="Your_Email" placeholder="Your Email"></div>
                            <div><input class="uk-input" type="text" name="Phone_No" placeholder="Phone No."></div>
                            <div class="uk-width-1-1"><input class="uk-input" type="text" name="Subject" placeholder="Subject"></div>
                            <div class="uk-width-1-1"><textarea class="uk-textarea" name="Question" placeholder="Question or Request"></textarea></div>
                            <div><input class="uk-button uk-button-danger uk-button-large" type="submit" value="Send"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-flex-first@m">
                <div class="contacts-info-map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1466.1584485562842!2d23.321079!3d42.6970103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85bfb6447faf%3A0x42aa97ef70f4ae8!2z0KHQvtGE0LjRjw!5e0!3m2!1sbg!2sbg!4v1691967432289!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>
    </div>
</main>



@code {
    private const string exampleText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";

    private const string avatarUrl = "/img/avatar-1.png";
    private const string linkedInUrl = "https://www.linkedin.com/in/ivan-dragan-petkan/";
    private const string gitlabUrl = "https://gitlab.com/ivan-dragan-petkan";


    private List<dynamic> contacts = new List<dynamic>()
    {
        new 
        {
            Name = "Zhelyazko Zhelyazkov", 
            FirstName = "Zhelyazko",
            Email = "admin@unrealbg.com", 
            PhoneNumber = "0888888888", 
            Bio = "In the dynamic realm of technology, I've always been drawn to the tangible intricacies of hardware. Yet, as my journey evolved, so did my fascination for the abstract elegance of code. Now, standing at the confluence of hardware expertise and coding enthusiasm, I strive to create harmonious tech solutions, marrying the physical with the digital.",
            ProfileImageUrl = "https://drive.google.com/uc?id=138T0xAoxVGj1BMsClltA5F31qCQAMOjW", 
            LinkedInUrl = "https://www.linkedin.com/in/zhelyazko-zhelyazkov-1761a6119/",
            GitLabUrl = "https://gitlab.com/UnrealBG"
        },
        new 
        {
            Name = "Nedko Nedkov", 
            FirstName = "Nedko",
            Email = "ngnedkov80@gmail.com", 
            PhoneNumber = "0888888888", 
            Bio = "Real extrovert, enjoying interactions with others and effortlessly building connections. My natural ability to network and engage with people add enormous value to any team I'm a part of.",
            ProfileImageUrl = "https://gitlab.com/uploads/-/system/user/avatar/13950363/avatar.png", 
            LinkedInUrl = "https://www.linkedin.com/in/nedko-nedkov-0129ab16b/",
            GitLabUrl = "https://gitlab.com/NedkoNedkov"
        },
        new 
        {
            Name = "Dimitar Nedelchev", 
            FirstName = "Dimitar",
            Email = "dimitar_nedelchev@outlook.com", 
            PhoneNumber = "0888888888", 
            Bio = "An IT Pro, and aspiring developer",
            ProfileImageUrl = "https://media.licdn.com/dms/image/C5603AQGZ0GQC2uRc6Q/profile-displayphoto-shrink_800_800/0/1517478354414?e=1697068800&v=beta&t=Z1JFwbSDxG2U3LQvPuhEVB_vxr7qlsWmPKwXMdEF1KQ", 
            LinkedInUrl = "https://www.linkedin.com/in/dimitar-nedelchev/",
            GitLabUrl = "https://gitlab.com/dimitar_nedelchev"
        }
    };
}
