﻿@using Carpooling.Models.DtoModels.CreateDtos
@inject IJSRuntime JSRuntime

@if (Destination == "From")
{
    <h3 class="text-center">Pickup Location</h3>
}
else if (Destination == "To")
{
    <h3 class="text-center">Drop-off Location</h3>
}
<EditForm Model="@AddressDto" OnValidSubmit="UpdateAddress">
    <FluentValidationValidator />
    <div class="uk-margin">
        <input class="uk-input" type="text" id="country" name="country" @bind="AddressDto.Country" placeholder="Country" required>
        <ValidationMessage For="@(() => AddressDto.Country)" />
    </div>
    <div class="uk-margin">
        <input class="uk-input" type="text" id="region" name="region" @bind="AddressDto.Region" placeholder="Region" required>
        <ValidationMessage For="@(() => AddressDto.Region)" />
    </div>
    <div class="uk-margin">
        <input class="uk-input" type="text" id="city" name="city" @bind="AddressDto.City" placeholder="City" required>
        <ValidationMessage For="@(() => AddressDto.City)" />
    </div>
    <div class="uk-margin">
        <input class="uk-input" type="text" id="address" name="address" @bind="AddressDto.AddressLine" placeholder="Address">
        <ValidationMessage For="@(() => AddressDto.AddressLine)" />
    </div>

    <div class="text-end">
        <button type="submit" class="uk-button uk-button-danger">Create address</button>
    </div>
</EditForm>

@code {
    [Parameter] public CreateAddressDto AddressDto { get; set; } = new CreateAddressDto();

    [Parameter] public string Destination { get; set; }

    [Parameter] public EventCallback<CreateAddressDto> OnAddressCreated { get; set; }

    private async Task UpdateAddress()
    {
        await OnAddressCreated.InvokeAsync(AddressDto);
        await CloseModal();
    }

    private async Task CloseModal()
    {
        string modalId = Destination == "From" ? "#fromAddress-modal" : "#toAddress-modal";
        await JSRuntime.InvokeVoidAsync("closeModal", modalId);
    }
}