﻿@page "/DataDeletion"

<PageTitle>Data Deletion</PageTitle>

<main class="flex-column d-flex align-items-center">
    <div style="width: 60%">
        <div class="d-flex flex-column align-items-center">
            <h1>DriveShare Data Deletion Instructions</h1>
        </div>

        <p>If you wish to have your personal data deleted from the DriveShare car sharing application, please follow the steps outlined below. Please note that by requesting data deletion, you may lose access to certain features and services provided by DriveShare.</p>
        <p>Last updated: August 18, 2023</p>

        <h3>Step 1: Sign In to Your DriveShare Account</h3>
        <ol>
            <li>Go to <a href="https://driveshare.app">driveshare.app</a></li>
            <li>Click "Sign In" in the top right corner</li>
        </ol>

        <h3>Step 2: Access Account Settings</h3>
        <ol>
            <li>Click on your profile picture in the top right corner</li>
            <li>Click "Account Settings"</li>
        </ol>

        <h3>Step 3: Initiate Data Deletion</h3>
        <ol>
            <li>In the Account Settings section, look for a "Data Deletion" or "Delete Account" option. This option may be listed under "Privacy" or a similar category.</li>
            <li>Tap on the "Data Deletion" option. You may be prompted to re-enter your password for security verification.</li>
        </ol>

        <h3>Step 4: Review and Confirm</h3>
        <ol>
            <li>A confirmation screen will appear, outlining the data that will be deleted and the consequences of the deletion.</li>
            <li>Carefully review the information presented. Keep in mind that this action is irreversible, and you may lose access to your booking history, account information, and other DriveShare services.</li>
            <li>If you are certain about proceeding with the deletion, confirm your request by tapping on the "Delete Data" or "Confirm Deletion" button.</li>
        </ol>

        <h3>Step 5: Finalize Data Deletion</h3>
        <ol>
            <li>Once you confirm the deletion, the app will begin the process of permanently removing your personal data from the DriveShare system.</li>
            <li>You may receive a confirmation email or notification indicating that your data deletion request has been received and is being processed.</li>
        </ol>

        <h3>Additional Information:</h3>
        <ul>
            <li>Data deletion may take some time to complete. During this period, your data will be gradually removed from our systems and backups.</li>
            <li>Deleting your data will also cancel any pending bookings or reservations you may have.</li>
            <li>If you change your mind before the data deletion process is complete, you can log in to your account and cancel the deletion request if the option is available.</li>
        </ul>

        <h3>Contact Us</h3>
        <p>
            If you encounter any issues or need assistance with the data deletion process, please contact DriveShare's customer support at <a href="mailto:support@driveshare.app>">support@driveshare.app</a> or at our <a href="contact-us">contact page</a>. Our support team will be happy to assist you.
        </p>
        <p> Please note that DriveShare may retain certain data as required by law or for legitimate business purposes, even after the deletion of your account. For more details on data retention and our privacy practices, please refer to our Privacy Policy.</p>
        <p>Thank you for using DriveShare!</p>
        <p>DriveShare Team</p>
    </div>
</main>