﻿@page "/edit-profile"

@attribute [Authorize]

<PageTitle>Edit Profile</PageTitle>

<h3 class="card-title text-center mb-2 mt-1">Profile</h3>
<ProfileForm FormAction="@FormAction.Update" ButtonText="Save"/>