﻿@page "/register"

@attribute [Authorize]

<PageTitle>Finalize Profile</PageTitle>

<h3 class="card-title text-center mb-2 mt-1">Complete Your Profile</h3>
<p class="text-center">Please fill in your details to continue</p>
<ProfileForm FormAction="@FormAction.Create" ButtonText="Continue"/>