﻿@page "/find-ride"
@using Carpooling.Models.Enums;
@using static Carpooling.Web.Helpers.ViewStringConstants;

@if (bookingConfirmation == false)
{
    <div class="uk-grid uk-child-width-1-2@xl uk-grid-match uk-grid-collapse" data-uk-grid>
        <div>
            <div class="main-search-section main-search-section--left">
                <div class="search-box">
                    <div class="search-box__title">Where do you want to go?</div>
                    <form>
                        <div class="search-form">
                            <div class="uk-grid uk-child-width-1-2@s uk-grid-collapse" data-uk-grid>
                                <div>
                                    <div class="uk-inline uk-width-1-1">
                                        <button class="uk-button uk-button-default" type="button">
                                            <span><b>Pickup Location</b></span>
                                            <div class="search-list-head">
                                                <a onclick="@ShowMap">
                                                    <span>open map </span>
                                                    <i class="fas fa-map-marker-alt"> </i>
                                                </a>
                                            </div>
                                        </button>
                                        <div data-uk-drop="mode: click">
                                            <div class="uk-card uk-card-body uk-card-default">
                                                <ul class="search-list uk-list uk-list-divider">
                                                    <li><input class="uk-input" type="text" id="country" name="country" placeholder="Country" @bind="searchQuery.StartCountry"></li>
                                                    <li><input class="uk-input" type="text" id="region" name="region" placeholder="Region" @bind="searchQuery.StartRegion"></li>
                                                    <li><input class="uk-input" type="text" id="city" name="city" placeholder="City" @bind="searchQuery.StartCity"></li>
                                                    <li><input class="uk-input" type="text" id="address" name="address" placeholder="Address" @bind="searchQuery.StartAddressLine"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div><input class="uk-input" type="date" @bind="searchQuery.Date" placeholder="Date / Time"></div>
                                <div>
                                    <div class="uk-inline uk-width-1-1">
                                        <button class="uk-button uk-button-default" type="button">
                                            <span><b>Drop-off Location</b></span>
                                            <div class="search-list-head">
                                                <a onclick="@ShowMap">
                                                    <span>open map </span>
                                                    <i class="fas fa-map-marker-alt"> </i>
                                                </a>
                                            </div>
                                        </button>
                                        <div data-uk-drop="mode: click">
                                            <div class="uk-card uk-card-body uk-card-default">
                                                <ul class="search-list uk-list uk-list-divider">
                                                    <li><input class="uk-input" type="text" id="country" name="country" placeholder="Country" @bind="searchQuery.EndCountry"></li>
                                                    <li><input class="uk-input" type="text" id="region" name="region" placeholder="Region" @bind="searchQuery.EndRegion"></li>
                                                    <li><input class="uk-input" type="text" id="city" name="city" placeholder="City" @bind="searchQuery.EndCity"></li>
                                                    <li><input class="uk-input" type="text" id="address" name="address" placeholder="Address" @bind="searchQuery.EndAddressLine"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div> <input class="input-user uk-input" type="text" placeholder="No. of Passenger(s)" @bind="searchQuery.FreeSpots"></div>

                            </div>
                        </div>
                        <div class="search-form-btn">
                            <a class="uk-button uk-button-danger" type="submit" @onclick="()=>GetSearchResult()">
                                <span class="uk-margin-small-right" data-uk-icon="search"> </span>
                                <span>SEARCH</span>
                            </a>
                        </div>
                        <div class="search-box__title">How do you want to sort?</div>
                        <div class="search-form">
                            <div class="uk-grid uk-child-width-1-2@s uk-grid-collapse" data-uk-grid>
                                <div>
                                    <div class="uk-inline uk-width-1-1">
                                        <select @bind="@orderBy" class="uk-button uk-button-default" style="color:black;">
                                            <option>@RidesOrderBy.DriverRating.ToString()</option>
                                            <option>@RidesOrderBy.StartLocation.ToString()</option>
                                            <option>@RidesOrderBy.EndLocation.ToString()</option>
                                            <option>@RidesOrderBy.Date.ToString()</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-inline uk-width-1-1">
                                        <select @bind="@orderType" class="uk-button uk-button-default" style="color:black;">
                                            <option>@DESCENDING</option>
                                            <option>@ASCENDING</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-form-btn">
                            <a class="uk-button uk-button-danger" type="submit" @onclick="()=>SortRides()">
                                <span class="uk-margin-small-right"> </span>
                                <span>Sort</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="uk-background-muted">
            <div class="main-search-section">
                <div class="search-result">
                    @if (isSearchResult)
                    {
                        <div class="search-result__info">
                            <span data-uk-icon="search"></span>
                            <span>
                                @(
                                    $"From : {(rideQuery.StartCountry ?? "Country")}, {(rideQuery.StartRegion ?? "Region")}, {(rideQuery.StartCity ?? "City")}, {(rideQuery.StartAddressLine ?? "Address")}"
                                    )
                                <br>
                                @(
                                    $"To : {(rideQuery.EndCountry ?? "Country")}, {(rideQuery.EndRegion ?? "Region")}, {(rideQuery.EndCity ?? "City")}, {(rideQuery.EndAddressLine ?? "Address")}"
                                    )
                                <br>
                                @(
                                    $"Date : {rideQuery.Date} - Passengers : {rideQuery.FreeSpots}"
                                    )
                            </span>
                        </div>
                    }
                    <div class="search-result__col">
                        <img src="img/ico-car.png" alt="icon"><span>
                            @(
                                totalCount
                                ) rides available for you.
                        </span>
                    </div>
                    @if (rides == null)
                    {
                        <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
                    }
                    else
                    {
                        <div class="search-result__list">
                            <Virtualize @ref="@virtualizeRide" ItemsProvider="LoadRides" Context="ride" ItemSize="400">
                                <div class="search-result-item">
                                    <div class="search-result-item__car">
                                        <!-- TODO: Include Driver Image -->
                                        <img src=@((ride.Vehicle.ImgUrl != null) ? ride.Vehicle.ImgUrl : CAR_AVATARS[random.Next(CAR_AVATARS.Length)]) alt="car"/>
                                    </div>
                                    <div class="search-result-item__info">
                                        <div class="user-box">
                                            <div class="user-box__avatar">
                                                <img src="@((ride.Driver.ImgUrl != null) ? ride.Driver.ImgUrl : AVATAR)" alt="driver"/>
                                            </div>
                                            <div class="user-box__info">
                                                <div class="user-box__name">@ride.Driver.Name</div>
                                                <div class="user-box__rating">
                                                    <i class="fas fa-star"></i><b>@ride.Driver.DriverRating </b><span>(@ride.Driver.DriverCommentCount Reviews)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-info">
                                            <li><img data-uk-icon="location" /><span style="margin-left: 12px">From : @ride.StartAddress.ToString().Split(',')[0], @ride.StartAddress.ToString().Split(',')[1] </span></li>
                                            <li><img data-uk-icon="location" /><span style="margin-left: 12px">To : @ride.EndAddress.ToString().Split(',')[0], @ride.EndAddress.ToString().Split(',')[1] </span></li>
                                            <li><img src="@serviceImages[0]" alt="driver-service" /><span>Free slots : @ride.FreeSpots</span></li>
                                            <li><img src="@serviceImages[1]" alt="driver-service" /><span>@PetsIsAllowed(ride.Pets)</span></li>
                                            <li><img src="@serviceImages[2]" alt="driver-service" /><span>@SmokongIsAwolled(ride.Smoking)</span></li>
                                            @if (rides[1].Comment != null)
                                            {
                                                <li><img data-uk-icon="comment" alt="driver-service" /><span>@SmokongIsAwolled(ride.Smoking)</span></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="search-result-item__price">
                                        <div class="price-box">
                                            <div class="price-box__time">@ride.DepartureTime.ToLocalTime().ToString(DATA_FORMAT)</div>
                                            <div class="price-box__price">
                                                <div class="current-price">@(ride.Currency + " " + ride.Price)</div>
                                                <div class="col-user">Per person</div>
                                                <button class="uk-button uk-button-danger" type="button" @onclick="() => BookConfirmation(ride)">Book this</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </Virtualize>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <RideDetails RideId="@selectedRideId" BookingConfirmation="bookingConfirmation" OnBookConfirmedBack="BackToFindRide" />
}


<div id="map-modal" uk-modal-dialog uk-modal-body uk-modal align="center">
        <Map></Map>
        <button class="uk-modal-close uk-button-danger" @onclick="ModalClosed" type="button">Close</button>
</div>

