﻿@page "/"
@using System.Text

<PageTitle>Index</PageTitle>

<AuthorizeView Context="Public">
    <Authorized>
        <AuthorizeView Context="Authenticated" Roles="User,Administrator">
            <Authorized>
                @*Logged in - has profile.*@
            </Authorized>
            <NotAuthorized>
                @*Logged in - no profile.*@
                <RedirectToPage Path="register" />
            </NotAuthorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        @*Public content.*@
    </NotAuthorized>
</AuthorizeView>

<div class="section-banner">
    <div class="section-banner__bg">
        <div class="uk-cover-container"><img src="img/img-banner.jpg" alt="img-banner" data-uk-cover><canvas></canvas></div>
    </div>
    <div class="section-banner__content uk-text-center">
        <div class="uk-overlay uk-position-center-left uk-width-1-1">
            <div class="uk-container uk-width-1-1">
                <div class="section-banner__title">
                    <span>Book for less today! Try DriveShare</span>
                    <h1 class="decor-top bg-opacity-50 bg-black">Need a Ride? Get a lift<br> or Find a free seat</h1>
                </div>
                <div class="section-banner__btn"> <a class="uk-button uk-button-default" href="find-ride">Get Started</a></div>
            </div>
        </div>
    </div>
</div>
<div class="section-popular-places">
    <div class="uk-container">
        <div class="popular-places">
            <div class="popular-places__head">
                <div class="popular-places__title">Where do you want a ride today?</div>
                <div class="popular-places__more"> <a href="#">More Popular Places </a></div>
            </div>
            <div class="popular-places__body">
                <div class="uk-grid uk-child-width-1-3@m" data-uk-grid>
                    <div>
                        <div class="popular-places-item"><a class="popular-places-item__link" href="#"><span class="popular-places-item__title">Burgas <small>to</small> Sofia</span><span class="popular-places-item__price">€5</span><span data-uk-icon="chevron-right"></span></a></div>
                    </div>
                    <div>
                        <div class="popular-places-item"><a class="popular-places-item__link" href="#"><span class="popular-places-item__title">Greece <small>to</small> Bulgaria</span><span class="popular-places-item__price">€30</span><span data-uk-icon="chevron-right"></span></a></div>
                    </div>
                    <div>
                        <div class="popular-places-item"><a class="popular-places-item__link" href="#"><span class="popular-places-item__title">Bucharest  <small>to</small> Istanbul</span><span class="popular-places-item__price">€55</span><span data-uk-icon="chevron-right"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-steps">
    <div class="uk-section uk-container">
        <div class="section-title uk-text-center">
            <div class="uk-h2">How It Works</div>
        </div>
        <div class="section-content">
            <div data-uk-slider="finite: true">
                <div class="uk-position-relative" tabindex="-1">
                    <ul class="uk-slider-items uk-grid uk-grid-large uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m">
                        <li>
                            <div class="step-item">
                                <div class="step-item__icon">
                                    <div class="step-item__icon-box"> <img src="img/step-1.png" alt="ico-step"></div>
                                </div>
                                <div class="step-item__title">Find Your Ride</div>
                                <div class="step-item__text">Discover the joy of shared Ride with our service. Connect with drivers and co-Rideers heading towards your destination. It's economical, eco-friendly, and a great way to meet new people. Experience the convenience of shared rides, saving money and making connections along the way. Just input your starting point, destination, and preferences. Start your journey today!</div>
                            </div>
                        </li>
                        <li>
                            <div class="step-item">
                                <div class="step-item__icon">
                                    <div class="step-item__icon-box"> <img src="img/step-2.png" alt="ico-step"></div>
                                </div>
                                <div class="step-item__title">Select & Book</div>
                                <div class="step-item__text">Choosing your Ride companion has never been easier. Browse through available rides, filter by your preferences, and select the one that suits you best. Once you've found your ride, book it with just a few clicks. Enjoy the simplicity of booking your Ride with us, ensuring you have a seamless and enjoyable journey from start to finish.</div>
                            </div>
                        </li>
                        <li>
                            <div class="step-item">
                                <div class="step-item__icon">
                                    <div class="step-item__icon-box"> <img src="img/step-3.png" alt="ico-step"></div>
                                </div>
                                <div class="step-item__title">Ride Together</div>
                                <div class="step-item__text">Nothing enhances a journey like sharing it with others. Carpooling is not just about reaching your destination; it's about community, camaraderie, and shared experiences. Make new friends, share stories, and enjoy the ride together. With our service, every journey becomes an adventure you share with fellow Rideers.</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"></ul>
            </div>
        </div>
    </div>
</div>

<div class="section-best-drivers">
    <div class="uk-background-muted">
        <div class="uk-section uk-container">
            <div class="section-title uk-text-center">
                <div class="uk-h2">Our Best Drivers</div>
                <p>Our service is defined by our exceptional drivers. They are selected after rigorous screening for their professionalism, driving skills, and commitment to customer satisfaction. Each one is committed to providing a safe, enjoyable, and efficient journey. Ride with us and experience the difference of Rideing with top-class drivers.</p>
            </div>
            <div class="uk-slider" data-uk-slider="sets: true; autoplay: true; autoplay-interval: 3000">
                <div class="uk-position-relative uk-visible-toggle uk-light">
                    <div class="uk-slider-container">
                        <br />
                        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-slider-items">
                            @foreach (var driver in this.topDrivers)
                            {
                                <div>
                                    <div class="driver-card">
                                        <div class="driver-card__media"><img src="img/car-1.jpg" alt="car"></div>
                                        <div class="driver-card__body">
                                            <div class="driver-card__user"> <img src="img/driver-1.png" alt="driver-pic"><span>@driver.Name</span></div>
                                            <div class="driver-card__info justify-content-center">
                                                <div class="driver-card__date  text-center">
                                                    <span style="font-size:large">Driver rating: @Math.Round(driver.DriverRating, 1)</span><br/>
                                                    <span class="stars golden-stars">@((MarkupString)DisplayStars(driver.DriverRating))</span>
                                                </div>
                                            </div>
                                            <div class="driver-card__services">
                                                <ul>
                                                    <li><i class="fas fa-comment-dots"></i> Driver comments: @driver.DriverCommentCount</li>
                                                    <li><i class="fas fa-envelope"></i> Email: @driver.Email</li>
                                                    <li><i class="fas fa-phone-alt"></i> Phone number: @driver.PhoneNumber</li>
                                                    <li><i class="fas fa-star-half-alt"></i> Passenger rating: @driver.PassengerRating</li>
                                                    <li><i class="fas fa-comment-alt"></i> Passenger comments: @driver.PassengerCommentsCount</li>
                                                </ul>
                                            </div>
                                            @*  <div class="driver-card__profile-button">
                                        <a class="uk-button uk-button-danger" href="path-to-driver-profile">View Driver profile</a>
                                        </div> *@
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <br>
                    </div>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous data-uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next data-uk-slider-item="next"></a>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>
    </div>
</div>

<br />
<div class="section-best-drivers">
    <div class="uk-background-muted">
        <div class="uk-section uk-container">
            <div class="section-title uk-text-center">
                <div class="uk-h2">Our Top Passengers</div>
                <p>We value our community and are proud to present our top users. These individuals have shown exceptional participation, engagement, and positive contribution to our platform. Get to know our leading members.</p>
            </div>
            <div class="uk-slider" data-uk-slider="sets: true; autoplay: true; autoplay-interval: 3000">
                <div class="uk-position-relative uk-visible-toggle uk-light">
                    <div class="uk-slider-container">
                        <br />
                        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-slider-items">
                            @foreach (var user in this.topPassengers)
                            {
                                <div>
                                    <div class="driver-card">
                                        <div class="driver-card__media driver-card__media-centered">
                                            <img src="img/avatar-1.png" alt="car">
                                        </div>
                                        <div class="driver-card__body">
                                            <div class="driver-card__user justify-content-center mt-4"><span><i class="fas fa-user-circle"></i> @user.Name</span></div>
                                            <div class="driver-card__info justify-content-center">
                                                <div class="driver-card__date  text-center">
                                                    <span style="font-size:large">Passenger rating: @Math.Round(user.PassengerRating , 1)</span><br/>
                                                    <span class="stars golden-stars">@((MarkupString)DisplayStars(user.PassengerRating))</span>
                                                </div>
                                            </div>
                                            <div class="driver-card__services">
                                                <ul>
                                                    <li><i class="fas fa-comment-dots"></i> Passenger comments: @user.DriverCommentCount</li>
                                                    <li><i class="fas fa-envelope"></i> Email: @user.Email</li>
                                                    <li><i class="fas fa-phone-alt"></i> Phone number: @user.PhoneNumber</li>
                                                    <li><i class="fas fa-calendar-alt"></i> Joined on: 14.08.2023</li>
                                                </ul>
                                            </div>
                                            @*  <div class="driver-card__profile-button">
                                        <a class="uk-button uk-button-danger" href="path-to-driver-profile">View Passenger profile</a>
                                        </div> *@
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <br />
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous data-uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next data-uk-slider-item="next"></a>
                    </div>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>
    </div>
</div>

<div class="section-about">
    <div class="section-about__img"><img src="img/img-car.png" alt=""></div>
    <div class="uk-section uk-container">
        <div class="uk-grid uk-child-width-1-2@m" data-uk-grid>
            <div>
                <div class="section-title">
                    <div class="uk-h2">About DriveShare</div>
                </div>
                <div class="section-content">
                    <ul class="about-list">
                        <li>
                            <div class="about-list-item">
                                <div class="about-list-item__icon"><img src="img/about-1.svg" alt="ico-about" data-uk-svg></div>
                                <div class="about-list-item__desc">
                                    <div class="about-list-item__title">Millions Of Journeys</div>
                                    <div class="about-list-item__desc">We are proud to have facilitated millions of journeys for our satisfied customers. Whether it's a short commute or a long-haul trip, we provide reliable and convenient Ride solutions. Each journey represents a story of connection, trust, and shared experiences. Join us and add your own story to our growing tapestry of successful Rides.</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="about-list-item">
                                <div class="about-list-item__icon"><img src="img/about-2.svg" alt="ico-about" data-uk-svg></div>
                                <div class="about-list-item__desc">
                                    <div class="about-list-item__title">Largest Car Rider Service</div>
                                    <div class="about-list-item__desc">As the largest car rider service in the region, we are committed to providing an unparalleled transportation experience. Our expansive network spans across countless cities and towns, ensuring that wherever you are, a ride is just a few clicks away. Join our community of happy passengers and experience the difference of a service that prioritizes your needs, comfort, and satisfaction.</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="about-list-item">
                                <div class="about-list-item__icon"><img src="img/about-3.svg" alt="ico-about" data-uk-svg></div>
                                <div class="about-list-item__desc">
                                    <div class="about-list-item__title">Simple & Smart Riding</div>
                                    <div class="about-list-item__desc">Experience the effortless convenience of our service, designed with simplicity and intelligence at its core. From easy ride booking to smart tracking and seamless payment options, we ensure that every step of your journey is hassle-free and enjoyable. With us, you're not just riding - you're smartly moving towards your destination.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-visible@m"></div>
        </div>
    </div>
</div>
<div class="section-location">
    <div class="uk-section uk-container">
        <div class="location">
            <div class="uk-grid uk-grid-small uk-child-width-1-2@m" data-uk-grid>
                <div>
                    <div class="location__title">We Have Now <b>2000</b> Locations</div>
                    <div class="location__text">Our growing network has now expanded to over 2000 locations. Striving to ensure that no matter where you are, a ride is just a few taps away. Our goal is to offer accessibility and convenience, bringing our services closer to you. With the commitment to connect riders and drivers everywhere, we are more than just a ride service - we are a global community.</div>
                    <div class="uk-grid uk-child-width-1-2" data-uk-grid>
                        <div>
                            <div class="location-contact-item">
                                <div class="location-contact-item__icon"><i class="fas fa-phone-alt"></i></div>
                                <div class="location-contact-item__desc">
                                    <div class="location-contact-item__title">For Booking Rides</div>
                                    <div class="location-contact-item__phone"><a href="tel:+3591234567">+359 123 4567</a></div>
                                    <div class="location-contact-item__time">We are available 24/7</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="location-contact-item">
                                <div class="location-contact-item__icon"><i class="fas fa-phone-alt"></i></div>
                                <div class="location-contact-item__desc">
                                    <div class="location-contact-item__title">Got any questions?</div>
                                    <div class="location-contact-item__phone"><a href="tel:+3591234567">+359 123 4567</a></div>
                                    <div class="location-contact-item__time">We are available 24/7</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="location__map">
                        <img class="location__img" src="img/img-location-map.png" alt="img-location-map">
                        <ul class="location__numbers">
                            <li><span>1470</span><span>Rental Cars Fleet</span></li>
                            <li><span>265</span><span>5 Star Reviews</span></li>
                            <li><span>308</span><span>Rental Awards</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-reviews">
    <div class="uk-section uk-container">
        <div class="section-title uk-text-center">
            <div class="uk-h2">Customer Reviews</div>
        </div>
        <div class="section-content">
            <div class="reviews-slider">
                <div data-uk-slideshow="max-height: 270; min-height: 250; animation: scale; autoplay: true; autoplay-interval: 3000">
                    <div class="reviews-slider__users">
                        <ul>
                            <li class="uk-animation-scale-up" data-uk-slideshow-item="0"><img class="uk-width-1-1" src="img/djames.jpg" alt="img-reviews"></li>
                            <li class="uk-animation-scale-up" data-uk-slideshow-item="1"><img class="uk-width-1-1" src="img/lMitchell.jpg" alt="img-reviews"></li>
                            <li class="uk-animation-scale-up" data-uk-slideshow-item="2"><img class="uk-width-1-1" src="img/mroberts.jpg" alt="img-reviews"></li>
                        </ul>
                    </div>
                    <div class="reviews-slider__content">
                        <div class="reviews-slider__box">
                            <ul class="uk-slideshow-items">
                                <li>
                                    <div class="reviews-slider-item">
                                        <div class="reviews-slider-item__text">I've never had a more comfortable and convenient ride experience. Their drivers are professional, the booking process is seamless, and the cars are always in top-notch condition. I've become a regular user and I couldn't recommend it more.</div>
                                        <div class="reviews-slider-item__user">Donald James</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="reviews-slider-item">
                                        <div class="reviews-slider-item__text">I love this service! It's an easy way to Ride and meet new people. The drivers are always friendly, and I feel safe using this platform. It's reliable, efficient, and affordable. It's become my go-to for Ride.</div>
                                        <div class="reviews-slider-item__user">Laura Mitchell</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="reviews-slider-item">
                                        <div class="reviews-slider-item__text">I was hesitant to try carpooling at first, but this platform has completely changed my mind. The service is outstanding, and it's been a great way to cut down on Ride costs. I've met some incredible people along the way too.</div>
                                        <div class="reviews-slider-item__user">Michael Roberts</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="reviews-slider__dots">
                        <ul class="uk-slideshow-nav uk-dotnav uk-flex uk-flex-center"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-download">
    <div class="uk-section uk-container">
        <div class="download-box">
            <div class="download-box__img"><img src="img/img-download.png" alt="img-download"></div>
            <div class="download-box__inner">
                <div class="download-box__title">Download Our App</div>
                <div class="download-box__text">Are you driving today and have a free seat to offer in<br> your car or you Rideing and need a lift to destination,<br> <b>Let’s DriveShare</b>.</div>
                <div class="download-box__btn"><a href="#!"><img src="img/google.png" alt="google"></a><a href="#!"><img src="img/apple.png" alt="apple"></a></div>
            </div>
        </div>
    </div>
</div>