﻿.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
}

    .button:hover {
        background-color: #0056b3;
    }

.driver-card__profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.uk-slider-items {
    will-change: transform;
}

.golden-stars {
    color: #f79c2d;
}
