﻿@page "/my-rides"

<div class="rides-container">
    <div class="user-rides">
        <h2>My Rides</h2>
        @if (!rides.Any())
        {
            <div class="text-center">
                <h3 class="uk-text-danger">You have no rides</h3>
            </div>
        }
        else
        {
            @foreach (var ride in rides)
            {
                <div class="ride-card">
                    <ul class="list-info">
                        <li><img data-uk-icon="calendar" class="location-icon" /><span>&nbsp;Departure time: @ride.DepartureTime</span></li>
                        <li><img data-uk-icon="location" class="location-icon" /><span>&nbsp;From : @ride.StartAddress.ToString().Split(',')[0], @ride.StartAddress.ToString().Split(',')[1] </span></li>
                        <li><img data-uk-icon="location" class="location-icon" /><span>&nbsp;To : @ride.EndAddress.ToString().Split(',')[0], @ride.EndAddress.ToString().Split(',')[1] </span></li>
                        @if (ride.Comment != null)
                        {
                            <li><img data-uk-icon="comment" class="comment-icon" alt="comment" /><span>&nbsp; @ride.Comment</span></li>
                        }
                        <li><img data-uk-icon="users" class="location-icon" /><span>&nbsp;Pending books: @ride.PendingBooks</span></li>
                        <li><img data-uk-icon="users" class="location-icon" /><span>&nbsp;Approved books: @ride.ApprovedBooks</span></li>
                        @if (ride.Status == RideStatus.Active.ToString())
                        {
                            <li><img data-uk-icon="check" class="location-icon" /><span>&nbsp;Status: Pending</span></li>
                        }
                        else if (ride.Status == RideStatus.Completed.ToString())
                        {
                            <li><img data-uk-icon="check" class="location-icon" /><span>&nbsp;Status: Approved</span></li>
                        }
                        else if (ride.Status == RideStatus.Cancelled.ToString())
                        {
                            <li><img data-uk-icon="check" class="location-icon" /><span>&nbsp;Status: Rejected</span></li>
                        }

                    </ul>
                    <div class="view-button uk-modal-footer">
                        <a class="uk-button uk-button-danger rounded-2" href="ride-details/@ride.Id">View Ride</a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="applied-rides">
        <h2>My Bookings</h2>
        @if (!bookings.Any())
        {
            <div class="text-center">
                <h3 class="uk-text-danger">You have no bookings</h3>
            </div>
        }
        else
        {

            @foreach (var booking in bookings)
            {
                <div class="ride-card">
                    <ul class="list-info">
                        <li><img data-uk-icon="calendar" class="location-icon" /><span>&nbsp;Departure time: @booking.Ride.DepartureTime</span></li>
                        <li><img data-uk-icon="location" class="location-icon" /><span>&nbsp;From : @booking.Ride.StartAddress.ToString() </span></li>
                        <li><img data-uk-icon="location" class="location-icon" /><span>&nbsp;To : @booking.Ride.EndAddress.ToString() </span></li>
                        @if (booking.Ride.Comment != null)
                        {
                            <li><img data-uk-icon="comment" class="comment-icon" alt="comment" /><span>&nbsp; @booking.Ride.Comment</span></li>
                        }
                        @if (booking.Status == BookingStatus.Pending)
                        {
                            <li><img data-uk-icon="check" class="location-icon" /><span>&nbsp;Status: Pending</span></li>
                        }
                        else if (booking.Status == BookingStatus.Аpproved)
                        {
                            <li><img data-uk-icon="check" class="location-icon" /><span>&nbsp;Status: Approved</span></li>
                        }
                        else if (booking.Status == BookingStatus.Canceled)
                        {
                            <li><img data-uk-icon="check" class="location-icon" /><span>&nbsp;Status: Cancelled</span></li>
                        }
                        else if (booking.Status == BookingStatus.Rejected)
                        {
                            <li><img data-uk-icon="check" class="location-icon" /><span>&nbsp;Status: Rejected</span></li>
                        }
                    </ul>
                    <div class="view-button uk-modal-footer">
                        <button class="uk-button uk-button-danger rounded-2" @onclick="() => CancelBooking(booking.Ride.DriverId, booking.Id)">Cancel Ride</button>
                    </div>
                </div>
            }
        }
    </div>
</div>