﻿.rides-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
}

.user-rides, .applied-rides {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.list-info {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

    .list-info li {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        font-size: 0.9em;
        color: #555;
    }

.location-icon, .comment-icon {
    margin-right: 8px;
    color: #007BFF;
}

.view-button {
    text-align: right;
}

.uk-button-danger {
    transition: background-color 0.2s ease;
}

.ride-card {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
}

    .ride-card:hover {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }

.view-button {
    text-align: center;
    margin-top: 10px;
}
