﻿.ride-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.map-container {
    flex-grow: 1;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.smaller-div {
    width: 780px;
    height: 780px;
    max-width: 1000px;
    max-height: 1000px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}

.custom-create-button {
    font-size: 15px;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}

.custom-small-button {
    padding: 0px 0px;
    font-size: 12px;
    width: 20%;
    height: 10%;
}

.custom-spacing label, .custom-spacing input {
    margin-right: 10px;
}
