﻿@page "/offer-ride"

<style>
    #map canvas, #map img, #map video {
        max-width: none;
        height: 10%;
    }
</style>

<main class="page-main">
    <div class="main-search-grid uk-grid uk-child-width-1-2@xl uk-grid-match uk-grid-collapse justify-content-center" data-uk-grid>
        <div class="ride-card smaller-div">
            <legend class="uk-legend text-center">Offer a Ride</legend>
            <div class="main-search-section--left">
                <div class="">
                    <EditForm Model="@ride" OnValidSubmit="async (e) => await CreateRide()">
                        <FluentValidationValidator />
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <select class="uk-select" id="car" @onchange="SelectCar" required>
                                    <option value="">Select Vehicle</option>
                                    @foreach (var car in cars)
                                    {
                                        <option value="@car.Id">@car.Make @car.Model</option>
                                    }
                                    <option value="new">Add New Vehicle</option>
                                </select>
                                <ValidationMessage For="@(() => ride.VehicleId)" />
                            </div>

                            <div class="uk-margin">
                                <label for="departure_time">Departure Time:</label><br>
                                <input class="uk-input" type="datetime-local" id="departure_time" name="departure_time" @bind="ride.DepartureTime" required>
                                <ValidationMessage For="@(() => ride.DepartureTime)" />
                            </div>

                            <a class="uk-button uk-button-primary custom-small-button" @onclick='() => CreateAddress("pickup")'>Pickup Location</a>
                            <a class="uk-button uk-button-primary custom-small-button" @onclick='() => CreateAddress("drop-off")'>Drop-off Location</a>
                            <p style="display: inline-block; vertical-align: middle; font-size:small;">or select from the map</p>
                            
                            @if (fromAddressDto.Country != null && toAddressDto.Country != null)
                            {
                                CreateRoute();
                            }

                            <div class="uk-margin">
                                <label for="seats">Free slots:</label>
                                <select class="uk-select" id="seats" name="seats" @bind="ride.FreeSpots" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <ValidationMessage For="@(() => ride.FreeSpots)" />
                            </div>

                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <div>
                                    <label>Smoking:</label><br>
                                    <label>Pets:</label>
                                </div>
                                <div>
                                    <label><input class="uk-radio" type="radio" id="smoking_yes" name="smoking" value="yes" @onchange='e => UpdateBooleanValue(e, "Smoking", true)' required> Yes</label><br>
                                    <label><input class="uk-radio" type="radio" id="pets_yes" name="pets" value="yes" @onchange='e => UpdateBooleanValue(e, "Pets", true)' required> Yes</label>
                                </div>

                                <div>
                                    <label><input class="uk-radio" type="radio" id="smoking_no" name="smoking" value="no" @onchange='e => UpdateBooleanValue(e, "Smoking", false)' required> No</label><br>
                                    <label><input class="uk-radio" type="radio" id="pets_no" name="pets" value="no" @onchange='e => UpdateBooleanValue(e, "Pets", false)' required> No</label>
                                </div>
                                <div>
                                    <ValidationMessage For="@(() => ride.Smoking)" /><br>
                                    <ValidationMessage For="@(() => ride.Pets)" />
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label for="price">Price:</label><br>
                                <input class="uk-input" type="number" id="price" name="price" @bind="ride.Price">
                            </div>

                            <div class="uk-margin">
                                <textarea class="uk-textarea" id="comment" name="comment" @bind="ride.Comment" placeholder="Comment"></textarea>
                            </div>

                            <div class="uk-margin text-center">
                                <button type="submit" class="uk-button uk-button-danger custom-create-button" style="border-radius: 10px">Create</button>
                            </div>
                        </fieldset>
                    </EditForm>
                </div>
            </div>
        </div>
        <div id="mapContainer" class="map-container smaller-div">
            <div id="map"></div>
        </div>
        <span></span>
    </div>
</main>

<div id="vehicle-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <VehicleCreationModal OnVehicleCreated="HandleFromVehicleCreate" />
        <button class="uk-modal-close uk-button-danger" type="button">Close</button>
    </div>
</div>

<div id="fromAddress-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <CreateAddress AddressDto=@fromAddressDto Destination="From" OnAddressCreated="HandleFromAddressCreated"></CreateAddress>
        <button class="uk-modal-close uk-button-danger" type="button">Close</button>
    </div>
</div>

<div id="toAddress-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <CreateAddress AddressDto=@toAddressDto Destination="To" OnAddressCreated="HandleToAddressCreated"></CreateAddress>
        <button class="uk-modal-close uk-button-danger" type="button">Close</button>
    </div>
</div>