﻿@page "/Privacy"

<PageTitle>Privacy Policy</PageTitle>

<main class="flex-column d-flex align-items-center">
    <div style="width: 60%">
        <div class="d-flex flex-column align-items-center">
            <h1>DriveShare Privacy Policy</h1>
        </div>
        <p>At DriveShare, we take your privacy seriously and are committed to keeping your personal information safe. We do not sell or rent your personal information and we use various security measures to protect it. By using our services, you agree to our privacy policy detailed below.</p>
        <p>Last updated: August 18, 2023</p>

        <h3>1. Introduction</h3>
        <p>At DriveShare, we respect your privacy and are committed to protecting it through our compliance with this policy.</p>

        <h3>2. Information We Collect</h3>
        <p>We may collect personal information including, but not limited to:</p>
        <ul>
            <li>Name</li>
            <li>Email address</li>
            <li>Phone number</li>
            <li>Vehicle information</li>
            <li>Location data</li>
        </ul>

        <h3>3. How We Use Your Information</h3>
        <p>We use your information to:</p>
        <ul>
            <li>Provide and improve our services</li>
            <li>Process transactions</li>
            <li>Send periodic emails and updates</li>
            <li>Respond to inquiries</li>
        </ul>

        <h3>4. How We Share Your Information</h3>
        <p>We do not sell or rent your personal information. We may share limited information with:</p>
        <ul>
            <li>Drivers and passengers for carpool coordination</li>
            <li>Third-party vendors providing services on our behalf</li>
            <li>For legal reasons, when required by law</li>
        </ul

        <h3>5. Cookies</h3>
        <p>We use cookies to enhance your experience on our website and for analytics. You can choose to decline cookies in your browser, but this may impact your user experience.</p>

        <h3>6. Security</h3>
        <p>We implement various security measures to safeguard your personal information. However, no security measure is 100% foolproof.</p>

        <h3>7. Changes to This Policy</h3>
        <p>DriveShare may update this privacy policy occasionally. We recommend checking this page regularly for any changes.</p>

        <h3>8. Contact Us</h3>
        <p>If you have any questions about this policy, contact us at <a href="mailto:info@driveshare.app">info@driveshare.app</a>.</p>
    </div>
</main>