﻿@page "/ride-details/{RideId}"

<style>
    #map canvas, #map img, #map video {
        max-width: none;
        width: 100%;
        height: 100px;
    }
</style>

<main class="page-main">
    <h1 class="text-center">Ride Details</h1>
    <div class="main-search-grid uk-grid uk-child-width-1-2@xl uk-grid-collapse justify-content-center" data-uk-grid>
        <div class="ride-card smaller-div">
            <div class="main-search-section">
                <div class="search-result">
                    <div class="info-content">
                        <p><span data-uk-icon="location"></span> <strong>From:</strong> @fromAddress</p>
                        <p><span data-uk-icon="location"></span> <strong>To:</strong> @toAddress</p>
                        <p><i class="fa fa-map-o" aria-hidden="true" style="font-size:18px;"></i> <strong> Distance: </strong> @distance km.</p>
                        <p><span data-uk-icon="clock"></span> <strong>Duration:</strong> @rideDuration</p>
                        <p><span data-uk-icon="calendar"></span> <strong>Departure:</strong> @ride?.DepartureTime.ToLocalTime()</p>
                        <p><span data-uk-icon="users"></span> <strong>Passenger(s):</strong> @ride?.FreeSpots</p>
                        <p><img src="/img/driver-service-1.png" style="width: 20px;"> <strong>Available Seats:</strong> @ride?.FreeSpots</p>
                        <p><span data-uk-icon="credit-card"></span> <strong>Price Per Seat:</strong> @double.Round(ride.Price, 2) @ride.Currency</p>
                        <p> <i class="fa fa-car" style="font-size:18px;"></i> <strong>Car:</strong> @vehicleData</p>
                        @if (ride.Smoking == true)
                        {
                            <p><img src="/img/driver-service-3.png" style="width: 20px;"> <strong>Smoking:</strong> Yes</p>
                        }
                        else
                        {
                            <p><img src="/img/driver-service-3.png" style="width: 20px;"> <strong>Smoking:</strong> No</p>
                        }
                        @if (ride.Pets == true)
                        {
                            <p><img src="/img/driver-service-2.png" style="width: 20px;"> <strong>Pets:</strong> Yes</p>
                        }
                        else
                        {
                            <p><img src="/img/driver-service-2.png" style="width: 20px;"> <strong>Pets:</strong> No</p>
                        }
                        <p><span data-uk-icon="info"></span> <strong>Status:</strong> @ride.Status</p>
                        <p><span data-uk-icon="comment"></span> <strong>Comments:</strong> @ride.Comment</p>
                        @if (BookingConfirmation)
                        {
                            <div>
                                <span>Booking seats : </span>
                                    <input type="number" id="Number"
                                           name="Number" min="1" max="@ride.FreeSpots" @bind="bookPlaces">
                                <span>@($"Total : {ride.Price * bookPlaces} {ride.Currency}")</span>
                                <a class="uk-button uk-button-danger" type="submit" @onclick = "CreateBook">
                                    <span class="uk-margin-small-center"> </span>
                                    <span>Confirm</span>
                                </a>
                                <a class="uk-button uk-button-danger" type="submit" @onclick="BackToFindRide">
                                    <span class="uk-margin-small-center"> </span>
                                    <span>Back</span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="map-container smaller-div">
            <div id="map"></div>
        </div>
    </div>
</main>
