﻿@page "/Terms"

<PageTitle>Terms of Service</PageTitle>

<main class="flex-column d-flex align-items-center">
    <div style="width: 60%">
        <div class="d-flex flex-column align-items-center">
            <h1>DriveShare Terms and Conditions</h1>
        </div>
        <p>By using our service you agree to the Terms of Service.</p>
        <p>Last updated: August 18, 2023</p>

        <h3>1. Acceptance of Terms</h3>
        <p>By accessing and using DriveShare, you accept and agree to be bound by these terms. If you disagree with any part of the terms, you may not use our service.</p>

        <h3>2. Service Description</h3>
        <p>DriveShare provides a platform for drivers and passengers to coordinate carpooling services. We are not a transportation service and do not guarantee the accuracy, completeness, or usefulness of any information shared on the platform.</p>

        <h3>3. User Obligations</h3>
        <p>Users agree to:</p>
        <ul>
            <li>Provide accurate information</li>
            <li>Use the service responsibly and legally</li>
            <li>Respect the privacy and rights of other users</li>
        </ul>

        <h3>4. Prohibited Activities</h3>
        <p>Users are prohibited from:</p>
        <ul>
            <li>Using the service for illegal purposes</li>
            <li>Posting or sharing inappropriate content</li>
            <li>Attempting to hack, disrupt, or damage the service</li>
        </ul>

        <h3>5. Disclaimers</h3>
        <p>DriveShare is provided "as is". We make no warranties or guarantees about the accuracy, reliability, or timeliness of the content, services, or information provided.</p>

        <h3>6. Limitation of Liability</h3>
        <p>DriveShare will not be liable for any indirect, incidental, or consequential damages arising out of the use or inability to use our services.</p>

        <h3>7. Termination</h3>
        <p>We reserve the right to terminate or suspend access to our service without prior notice or liability, for any reason, including breach of these terms.</p>

        <h3>8. Changes to These Terms</h3>
        <p>We may update these terms periodically. It's your responsibility to check this page for changes. Your continued use of the service after changes means you accept the new terms.</p>

        <h3>9. Governing Law</h3>
        <p>These terms are governed by [Country/State's] laws, without regard to its conflict of law provisions.</p>

        <h3>10. Contact Information</h3>
        <p>For questions about these terms, please contact us at <a href="mailto:info@driveshare.app">info@driveshare.app</a>.</p>
    </div>
</main>