﻿<div class="uk-container">
    <h3 class="text-center">Add New Vehicle</h3>
    <fieldset class="uk-fieldset">
        <EditForm EditContext="EditContext" OnValidSubmit="CreateVehicle">
            <FluentValidationValidator />
            <div class="uk-margin">
                <select class="uk-select" id="brand" @onchange="LoadModels" required>
                    <option value="">Select Make</option>
                    @foreach (var brand in Brands)
                    {
                        <option value="@brand.Key">@brand.Key</option>
                    }
                </select>
            </div>

            <div class="uk-margin">
                <select class="uk-select" id="model" @bind="vehicle.Model" required>
                    <option value="">Select Model</option>
                    @foreach (var model in models)
                    {
                        <option value="@model">@model</option>
                    }
                </select>
                <ValidationMessage For="@(() => vehicle.Model)" />
            </div>

            <div class="uk-margin">
                <select class="uk-select" id="color" @bind="vehicle.Color" required>
                    <option value="">Select Color</option>
                    @foreach (var color in Colors)
                    {
                        <option value="@color">@color</option>
                    }
                </select>
                <ValidationMessage For="@(() => vehicle.Color)" />
            </div>

            @if (!string.IsNullOrEmpty(carImage))
            {
                <div class="mb-0">
                    <div class="d-flex justify-content-center align-content-center">
                        <img id="preview" width="400" src="@carImage" />
                    </div>
                </div>
            }
            else
            {
                <div class="mb-0">
                    <div class="d-flex justify-content-center align-content-center">
                        <img id="preview" width="400" src="img/search-car-1.png" style="cursor: pointer;" />
                    </div>
                </div>
            }

            <div class="mb-3 mt-0">
                <div class="d-flex justify-content-center align-content-center">
                    <label for="avatar" style="cursor: pointer; color: #f89d53;" class="uk-text-bold">Choose Vehicle Image:</label>
                    <InputFile class="form-control mr-3" OnChange="@LoadImage" id="avatar" accept="image/*" hidden />
                </div>
            </div>

            <div class="uk-margin">
                <input @onchange="CheckPlateNumber" class="uk-input" type="text" id="car_registration" name="car_registration" placeholder="Vehicle registration plate" required maxlength="10">
                <ValidationMessage For="@(() => vehicle.PlateNumber)" />
            </div>

            <div class="uk-margin">
                <textarea @bind="vehicle.Description" class="uk-input" type="text" id="car_descritption" name="car_descritption" placeholder="Description"></textarea>
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-danger" type="submit" value="Create">Create</button>
            </div>
        </EditForm>
    </fieldset>
</div>
